<%= current_coloc.name %>


  <% @tasks.each do |task| %>
      <div class="task_card">
        <div>
          <%= image_tag task.image, alt: 'task_image', class: 'task_image_small' %>
        </div>
        <div class="task_card_content">
          <h5><%= task.name %></h5>
          <p><%= task.points %></p>
          <p><%= task.image %></p>
        </div>


        </div>
        <%= link_to 'View Details', task_path(task) %>
        <hr>
  <% end %>

<%= link_to 'Add a new task', new_task_path(@task) %>

<%= link_to 'Go to home', root_path , class:"btn-ghost-small"%>

