<div class="container">

  <div class="show_task_image">
    <p><%= image_tag @task.image, alt: 'task_image', class: 'task_image_large'%></p>
  </div>

  <p class="show_task_name"><%= @task.name %></p>
  <p class="show_task_description"><%= "\"#{@task.description}\"" %></p>
  <p class="show_task_points"> Gain : <%= @task.points %></p>

    <div class="submit_btn_show">

      <div>
        <%= link_to icon('fas', 'check'), edit_user_task_path(@task.current_user_task),  class: "btn-check"%>
      </div>

      <div>
        <%= link_to image_tag('carotte_sans_rond.png'), tasks_path, "data-toggle" => "modal", 'data-target' => '#exampleModal', class:"btn-carot carot-x-large" %>
      </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            Je <%= image_tag 'carotte.png', alt: 'task_image', class: 'carot' %> mon coloc !
          </div>
          <div class="modal-footer text justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= link_to icon('fas', 'check'), carotte_user_task_path(@task.current_user_task), method: :post, class:'btn-check-modal' %>
          </div>
        </div>
      </div>
    </div>

  <div>
    <p class="carotte_cost">Carotte cost : <%= @task.carotte_card_points %></p>
  </div>
</div>
