  <h4 class="title"> TU VALIDES OU TU CAROTTES? </h4>

<div class="container">

  <div class="show_task_image">
    <p><%= image_tag @task.image, alt: 'task_image', class: 'task_image_large'%></p>
  </div>

  <p class="show_task_name"><%= @task.name %></p>
  <p class="show_task_description"><%= "\"#{@task.description}\"" %></p>

    <div class="submit_btn_show">

      <div class="icon_check">
        <%= link_to icon('fas', 'check'), edit_user_task_path(@task.current_user_task), class: "btn-check"%>
        <p class="show_task_points"> + <%= @task.points %> <%= image_tag ('carotte_sans_rond.png'), class:"carot-show" %></p>
      </div>

      <div class="icon_carot">
        <%= link_to tasks_path, "data-toggle" => "modal", 'data-target' => '#exampleModal', class:"btn-carot" do %>
          <i class="fas fa-times"></i>
        <% end %>
        <p class="show_task_points last"> - <%= @task.carotte_card_points %> <%= image_tag ('carotte_sans_rond.png'), class:"carot-show" %> </p>
      </div>

    </div>

    <% if current_user.current_points >= @task.carotte_card_points %>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body text-center">
              <span>Je</span> <%= image_tag 'carotte.png', alt: 'task_image', class: 'carot_modal' %> <span>mon coloc !</span>
            </div>
            <div class="modal-footer text justify-content-around">
              <button type="button" class="close fa-3x" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true", class="text-danger">&times;</span>
              </button>
              <%= link_to icon('fas', 'check'), carotte_user_task_path(@task.current_user_task), method: :post, class:'btn-check-modal text-success fa-2x'%>
            </div>
          </div>
        </div>
      </div>
      <% else %>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body text-center">
                <span>Mince, il me manque encore des</span> <%= image_tag 'carotte.png', alt: 'task_image', class: 'carot_modal' %>
              </div>
              <div class="modal-footer text justify-content-center">
                <button type="button" class="close fa-3x" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true", class="text-danger">&times;</span>
                </button>
              </div>
            </div>
          </div>
        </div>
    <% end  %>
</div>
