<p><%= @task.name %></p>
<p><%= @task.description %></p>
<p><%= @task.points %></p>

<div>
  <%= link_to 'Mark a task as done'%>
</div>

<div class="actions">

  <div>
  <lottie-player id="mark_as_done_anim" src="https://assets8.lottiefiles.com/packages/lf20_ytl1btfo.json" background="transparent"  speed="2.5"  style="width: 150px; height: 150px;"></lottie-player>

  </div>

  <div>
    <%= link_to 'Je carotte mon coloc'%>
  </div>

</div>
