<!-- Modal -->
<div class="modal fade" id="modalCarotte<%= fun_card.id %>" tabindex="-1" role="dialog" aria-labelledby="modalCarotte<%= fun_card.id %>Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text justify-content-center">
       <% if current_user.current_points >= fun_card.points %>
          <h5 class="modal-title" id="modalCarotte<%= fun_card.id %>Label">A quelle date souhaites-tu carroter tes colocs ?</h5>
        <% else %>
          <h5 class="modal-title text-center" id="modalCarotte<%= fun_card.id %>Label"> Oups !  &#128558;</h5>
         <% end %>
      </div>
      <div class="modal-body">
        <% if current_user.current_points >= fun_card.points %>
          <div class="center-button">
            <%= simple_form_for Consommation.new, url: shop_consommations_path(fun_card), method: "post" do |f| %>
              <%= f.input :week_on, as: :string, required: false, input_html: {class: "datepicker"}, label: false %>
              <%= f.button :submit, "Je carotte !", class: "btn-fun-card" %>
            <% end %>
          </div>
        <% else %>
          <div class="fun_card_less_points">
            <p>Je n'ai pas assez de <%= image_tag 'carotte.png', alt: 'task_image', class: 'carot_modal' %> pour acheter cette carte</p>
          </div>
          <div class="modal-footer text justify-content-center">
            <button type="button" class="close fa-3x" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true", class="text-danger">&times;</span>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>