<h4>Carotte Shop</h4>
<div class="fun_cards">
  <% @fun_cards.each do |fun_card| %> 
    <div class="fun_card d-flex">
      <div class="fun_card_image">
        <%# <%= image_tag fun_card.image, alt: 'fun_card_image', class: 'fun_card_img' %>
      </div>
      <div class="fun_card_content">
        <h3><%= fun_card.name %></h3>
        <p class="fun_card_name"><%= fun_card.description %></p>
        <div class="fun_card_points">
          <%= fun_card.points %>
          <%= image_tag 'carotte.png', alt: 'carrot_image', class: 'carot' %>
        </div>
      </div>
      <div class="see_more">
        <%= link_to '<i class="fas fa-chevron-right"></i>'.html_safe, shop_path(fun_card) %>
      </div>
    </div>
  <% end %>
</div>