<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

  <div class="navbar-toggle-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
       <div class="my_points">
        <li class="nav-item">
          <%= image_tag current_user.avatar, class: 'avatar'%>
          <%= current_user.current_points %>
          <%= image_tag 'carotte.png', alt: 'task_image', class: 'carot' %>
        </li>
       </div>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
