<% display_animation = @display_animation || false  %>

<div class="tab-bar">
  <div class="tab_elements">
    <%= link_to image_tag('coloc.png'), root_path, class:"icon"%>
    <p>Tach'Board</p>
  </div>

  <div class="tab_elements">
      <div>
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="current-points">
          <div>
            <%= image_tag 'carotte.png', alt: 'task_image', class: 'carot'%>
          </div>

          <div id="my_carrots" data-end-number="<%= current_user.current_points %>">
            <%= params[:old_points] || current_user.current_points %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
    <div class="tab_elements">
    <div class="tab_image">
      <%= link_to image_tag('shop.png'), shop_index_path, class:"icon"%>
    </div>
    <p>Shop</p>
  </div>
</div>
