<h1>Home</h1>

<% if @coloc.present? %>
  <p>Dashboard</p>

  <div>
    <% @tasks_to_do.each do |user_task| %>
    <div>
    </div>
    <p><%= user_task.task.name %></p>
        <%= link_to 'Mark a task as done', mark_as_done_user_task_path(user_task), class:"btn-ghost-small" %>
    <% end %>
  </div>

  <div>
  <%= link_to 'Go to carottes cards', carotte_cards_path, class:"btn-ghost-small"%>
  </div>

  <div>
  <%= link_to 'Go to your coloc', coloc_path(@coloc), class:"btn-ghost-small"%>
  </div>


  <% else %>

    <%= link_to 'Create a coloc', new_coloc_path %>

<% end %>