<h1>Mes tâches</h1>

<% @my_tasks_current_week.each do |my_task| %>
  <div class="task_card">
    <div>
        <%= image_tag my_task.image, alt: 'task_image', class: 'task_image_small' %>
    </div>

    <div class="task_card_content">
      <h5><%= my_task.name %></h5>
      <p><%= my_task.points %></p>
    </div>
  </div>

  <%= link_to 'View Details', task_path(my_task) %>

  <hr>

<% end %>

<h1> Les tâches des colocs'</h1>

<% @other_tasks_current_week.each do |other_task| %>
  <div class="task_card">
    <div>
        <%= image_tag other_task.image, alt: 'task_image', class: 'task_image_small' %>
    </div>

    <div class="task_card_content">
      <h5><%= other_task.name %></h5>
      <p><%= other_task.points %></p>
      <p><%= other_task.current_user_task.user.name %></p>
    </div>
  </div>

<% end %>

<div>
  <%= link_to 'Go to your coloc'%>
</div>

<div>
  <%= link_to 'Shop'%>
</div>

<div>
  <%= link_to 'Log out'%>
</div>



