
<h4 class="title">TACH'BOARD</h4>

<div class="container-small">
    <div class="carotte_incoming">
      <% unless current_coloc.consommations == [] %>
      <% first_conso = current_coloc.consommations.where('week_on >= CURRENT_DATE').order(:week_on).first %>
      <h4 class="carotte_incoming_title">Carottes à venir</h4>
      <div class="carotte_incoming_content">
        <%= image_tag first_conso.fun_card.image, alt: 'fun_card_image', class: 'carotte_incoming_image' %>
        <div class="carotte_incoming_text">
          <div class="carotte_incoming_infos">
            <p><%= first_conso.fun_card.name %></p>
            <%= image_tag first_conso.user.avatar, alt: 'user_avatar', class: 'avatar_carotte' %>
          </div>
          <div class="carotte_incoming_date">
            <p><%= first_conso.week_on %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  <div class="my_task_title">
    <div class="title_my_task">
      <h4 class="current_task_title">Mes tâches de la semaine</h4>
    </div>
  </div>



    <% @my_tasks_current_week.each do |my_task| %>

      <% if my_task.current_user_task.status %>
        <div class="my_task_done">
      <% else %>
        <a href="<%= task_path(my_task) %>" class="my_tasks">
      <% end %>

      <div class="task_card">
        <div class="task_card_content">
          <div>
            <% if my_task.current_user_task.status == false %>
              <%= image_tag my_task.image, alt: 'task_image', class: 'task_image_small' %>
            <% else %>
              <%= image_tag my_task.image_done, class: "task_image_small"  %>
            <% end %>
          </div>

          <div class="task_card_text">
            <p class="task_name"><%= my_task.name %></p>
            <div class="task_points">
              <p><%= my_task.points %>
                <%= image_tag 'carotte.png', alt: 'task_image', class: 'carot' %>
              </p>
            </div>
          </div>
          <div>
            <% if my_task.current_user_task.status == false%>
              <i class="fas fa-chevron-right task_card_see_more"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% if my_task.current_user_task.status %>
      </div>
    <% else %>
      </a>
    <% end %>
    <% end %>

  <h4 class="current_task_title"> Les tâches des colocs'</h4>

  <% @other_tasks_current_week.each do |other_task| %>
    <div class="task_card">
      <div class="task_card_content">
        <div>
            <%= image_tag other_task.image, alt: 'task_image', class: 'task_image_small' %>
        </div>

        <div class="task_card_text">
          <p class="task_name"><%= other_task.name %></p>
            <div class="task_points">
              <p><%= other_task.points %>
                <%= image_tag 'carotte.png', alt: 'task_image', class: 'carot' %>
              </p>
            </div>
              <p><%= image_tag other_task.current_user_task.user.avatar, alt: 'task_image', class: 'avatar_home' %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
