<!DOCTYPE html>
<html>
  <head>
    <title>Carotte Ta Coloc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
<head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>


   <div class="overlay d-none">
     <h4 class="overlay_carot_title">Carottes Restantes : </h4>
   </div>

      <%= yield %>

    <%= render 'shared/tabbar' %>
  </body>
</html>
